@import './base.css';

body {
  background-color: rgb(96, 96, 96);
}
#app {
  /* max-width: 1580px; */
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  background-color: rgb(177, 138, 99);
}
a,
.green {
  text-decoration: none;
  color: rgb(226, 190, 14);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(55, 57%, 25%, 0.2);
  }
}
ul {
  list-style-type: none;
}
